<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
        <app-test></app-test>
    </h1>

    <div><button class="btn" (click)="setFactory('new-adapter')">Change new Factory</button></div><br>
    <div><button class="btn" (click)="setFactory('old-adapter')">Change Old Factory</button></div><br>
    <div><button class="btn" (click)="getUser()">Load from Backend Factory</button></div>
    <div>
        <app-base-button (triggerEvent)="showBaseCount($event)"></app-base-button>
    </div>

    <!--<div>-->
        <!--<app-test-button (triggerEvent)="doTestCount($event)"></app-test-button>-->
    <!--</div>-->

    <h2>BaseCounter: {{baseCounter}} </h2>
    <h2>Test Counter: {{testCounter}} </h2>
</div>
